button {
  background: #007BBB;
  width: auto;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  opacity: 90%;
}