.page-header {
  width: 95%;
  display: flex;
  justify-content: center;
}

.page-header > p {
  color: #014b7f;
  font-weight: 500;
  font-size: 21px;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.page-title h1 {
  margin-right: 20%;
}

.back {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #014b7f;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Kanit', serif;
  text-decoration: underline;
}