.side-bar {
  background: #007BBB;
  height: 100vh;
  width: 23%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.side-bar-menu .main-list {
  flex-grow: 1;
  list-style: none;
}

.side-bar-menu .main-list li {
  color: #F8F5F5;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-list-item {
  margin-top: 20px;
}

.sub-list > ul{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}

.sub-list > ul > li {
  padding-top: 8px;
  cursor: pointer;
  width: 80%;
}

.sub-list-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #F8F5F5;
}